body {
  margin: 0;
  padding: 0;
 background-color:#efefef;
}


.white{
background-color: white;
width: 95vw;
height: 90vh;
position: absolute;
box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
}

#newlist{
  position:relative;
  width:100%;
}

#back{
  position:absolute;
  margin-top:-9.5%;
  margin-left:-45%;
}

#account{
float: left;

width: 50vw;
height: 15vh;
position: relative;
background-color: grey;
}

#mid{
  position:relative;
  background-color:white;
  margin-left:4%;
  width:92%;
  height:7em;
}

#articleon{
  position:absolute;
  margin-top:4%;
  right:23%;
}
                              
